version: 2.1

orbs:
  aws-s3: circleci/aws-s3@2.0.0

jobs: 

  magnet-app-build:
    parameters:
    docker:
      - image: circleci/node:14.15.1-buster
    working_directory: ~/magnet-app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-magnet-app-deps-{{ checksum "~/magnet-app/yarn.lock" }}-{{ checksum "~/magnet-app/package.json" }}
      - run:
          command: yarn install && git diff --exit-code
      - run:
          command: yarn deduplicate && git diff --exit-code
      - save_cache:
          paths:
            - ~/magnet-app/node_modules
          key: v1-magnet-app-deps-{{ checksum "~/magnet-app/yarn.lock" }}-{{ checksum "~/magnet-app/package.json" }}
      - run:
          command: yarn build
      - run: sudo apt-get update
      - run: sudo apt-get install rsync
      - run:
          working_directory: ~/magnet-app/public
          command: rsync -vrR . /tmp/magnet-app-build
      - run:
          working_directory: /tmp/magnet-app-build
          command: ls -R
      - persist_to_workspace:
          root: /tmp/magnet-app-build
          paths:
            - .
  
  magnet-app-deploy:
    parameters:
      source-dir:
        type: string
        default: "/tmp/magnet-app-build"
      s3-bucket-name:
        type: string
    docker:
      - image: circleci/node:14.15.1-buster
    steps:
      - attach_workspace:
          at: << parameters.source-dir >>
      - aws-s3/sync:
          from: << parameters.source-dir >>
          to: "s3://<< parameters.s3-bucket-name >>"
          arguments: '--delete'


workflows:
  version: 2

  dev-magnet-app:
    jobs:
      - magnet-app-build:
          name: dev-magnet-app-build
          filters:
            branches:
              ignore:
                - release/prod-magnet-app
      - magnet-app-deploy:
          name: dev-magnet-app-deploy
          s3-bucket-name: dev-magnet-app
          requires:
            - dev-magnet-app-build
          filters:
            branches:
              only:
                - main

  prod-magnet-app:
    jobs:
      - magnet-app-build:
          name: prod-magnet-app-build
          filters:
            branches:
              only:
                - release/prod-magnet-app
      - magnet-app-deploy:
          name: prod-magnet-app-deploy
          s3-bucket-name: magnet-app
          requires:
            - prod-magnet-app-build
          filters:
            branches:
              only:
                - release/prod-magnet-app